body {
    background-color: #36b55c;
    color: white;
    font-family: 'Playfair Display', serif;
    display: flex;
    text-align: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#quote-box {
    text-align: center;
    padding: 0 3em;
}

.quote {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1;
    /* position: relative; */
    margin: 0;
}

.quote::before {
    content: '“';
    font-size: 1em;
    padding: 0 .5em;
    line-height: 1;
    font-family: cursive;
}

.quote::after {
    font-size: 1em;
    content: '”';
    padding: 0 .5em;
    line-height: 1;
    font-family: cursive;
}

.source {
    font-size: 1.25rem;
    letter-spacing: 0.05em;
    line-height: 1.1;
    text-align: right;
    margin-right: 4em;
}

.source:before {
    content: "— ";
}

.citation {
    font-style: italic;
}

.citation:before {
    content: ", ";
    font-style: normal;
}

.year:before {
    content: "";
    font-style: normal;
}

.tag {
    font-style: italic;
}

.tag:before {
    content: " ";
    font-style: normal;
}

#loadQuote {
    border-radius: 4px;
    border: 2px solid #fff;
    color: #ffffff;
    background-color: initial;
    padding: 1em 2em;
    transition: .5s;
}

#loadQuote:hover {
    background-color: rgba(255, 255, 255, .25);
}

#loadQuote:focus {
    outline: none;
}

@media (max-width: 420px) {
    #quote-box {
        padding: 0 1em;
    }
    .quote {
        font-size: 2rem;
    }
    .source {
        font-size: 1rem;
    }
}